* {
  margin: 0;
  padding: 0;
  font-family: 'JetBrains Mono', monospace;

}

body {
  background: url("bg.png") no-repeat fixed center;
  background-size: cover;

}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  

  
}

.logo {
  width: 150px;
  height: auto;
  cursor: pointer;
}

header a{
  text-decoration: none;
  font-size: 18px;
  color: black;
  font-weight: 700;
  padding: 10px 15px;
}

header a:hover {
    background-color: blue;
}

header button {
    background-color: blueviolet;
    padding: 10px 20px;
    color:black;
    font-weight: bold;
    cursor: pointer;
    
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 88%;
   
    margin: auto;
}

section img {
    width: 500px;
    height: auto;
}
section h1{
    font-size: 50px;
    margin-bottom: 10px;
}
section h2 {
    font-size: 30px;
    margin-bottom: 10px;

}
section p {
    font-size: 20px;
    font-weight: bold;
}
section button {
    background-color: blueviolet;
    padding: 10px 20px;
    color:black;
    font-weight: bold;
    cursor: pointer;
    margin: 15px;

}
button:hover {
    background-color: yellowgreen;
    
}
/* section .left {
    margin-left: 20px;
}
section .right {
    margin-right: 20px;
} */

@media screen and (max-width: 600px){
 header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
 
  }
  header button {
    margin: 30px;
    
}
section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    
}
section img {
    width: 300px;
    height: auto;
}
}
